<div class="row container">
  <div class="col-4"></div>

  <div class="col-4">
    <div class="row container" style="margin-bottom: 10px;">
      <div class="pull-right">
        <% image = @taska.fotos.where(foto_name: "CENTER LOGO").first %>
        <% if image.present? && image.picture.present? %>
          <%= image_tag(image.picture.url, size: "50x50") %>
        <% end %>
      </div>&nbsp&nbsp&nbsp&nbsp<br><br>
      <h6 align="center"><%= @taska.name %></h6>
      <br>
    </div>
    <%= @svg.html_safe %><br><br>
  </div>

    <div class="col-4"></div>

</div>

