<h4>NEW CHILDREN REGISTRATION FOR </h4> 
<h3><% image = @fotos.where(foto_name: "CENTER LOGO").first %>
    <% if image.present? && image.picture.present? %>
      <%= image_tag(image.picture.url, size: "50x50") %>
    <% end %> <%= link_to "#{@taska.name.upcase}", "#", class: "btn btn-m btn-primary active" %>
</h3>
<br>
<%if params[:new] == "yes" %>
  <%= render 'kids/form' %>
<% else %>
  <%= render 'kids/form' %>
<% end %>

	

