<div class="container" style="margin-top: -20px">
<%= link_to "Edit Details", edit_kid_path(@kid), class: "badge badge-pill badge-warning" %> 
</div>

<%= render 'kids/kid_profile' %>

          <%= link_to "BACK", :back, class: "btn btn-sm btn-success active" %>
          <%= link_to "PRINT", kid_profile_path(id: @kid.id, format: :pdf), class: "btn btn-sm btn-info active", target: "_blank" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>