<h1 align="center">KIDCARE SYSTEM VIDEOS TUTORIAL</h1>

<h4 align="center">(Please Click The Button To View Any Tutorial)</h4>


<% 
  tut_init_old = [
    ["Login & Update Center Details","M7qmnC9mlqY"],
    ["Register Children By Parents","masrLQNbCQU"],
    ["Register Children By Admin","ICsOVSkfbQI"],
    ["Create Classrooms","u378K__RSBg"],
    ["Assign Children to Classroom","QV41RSS0Uco"],
    ["Create Extras","ZX3J60yZ1ho"],
    ["Children Bill Setting","QzCTM2KLtok"],      
    ["Create Children Bill","IwqlmTcBUJ4"],
    ["Edit Children Bill","FZG0lhJ0Rsk"],
    ["View & Print Children Profile","GU_EJT6r-wg"],
    ["Edit Children Profile","THurXrIXLWc"],
    ["Download Children Lists","OfObSEgvoks"],
    ["View Center Account","i2EiHp2ULRk"],
    ["Download Center Account Report","FJJCbRxZ3H0"],
    ["Create New Expense & Income in Account","aPkr8hA46Zo"],
    ["Teacher Registration","JX6nmx1n9y4"],
    ["Assign Teacher to Center","QuSA6IJJjGA"],
    ["Create Teacher Payslip","GqB21ghn8ss"],
    ["Edit Teacher Payslip","pzPLDOph0TQ"],
    ["View Teachers Payslip","Hdyd9LWnUB8"],
    ["Apply Leave by Teacher","s_HwkPpwFwo"],
    ["Approve Teacher Leave","d0VnrLopHvI"],
    ["Automation Setting","1hKB0Kwh-mE"],
    ["Student Attendance","b8XV8iMMwiM"],
    ["Logbook For Teacher","L7W_ufcmY00"],
    ["Logbook For Admin","1Gk5nKV8_Us"],
    ["Logbook For Parent","Fw0lgw3ukxQ"],

  ]
  tut_init = [
    ["Logins & Update Center Details","659334960"],
    ["Register Children By Parents","masrLQNbCQU"],
    ["Register Children By Admin","ICsOVSkfbQI"],
    ["Create Classrooms","u378K__RSBg"],
    ["Assign Children to Classroom","QV41RSS0Uco"],
    ["Create Extras","ZX3J60yZ1ho"],
    ["Children Bill Setting","QzCTM2KLtok"],      
    ["Create Children Bill","IwqlmTcBUJ4"],
    ["Edit Children Bill","FZG0lhJ0Rsk"],
    ["View & Print Children Profile","GU_EJT6r-wg"],
    ["Edit Children Profile","THurXrIXLWc"],
    ["Download Children Lists","OfObSEgvoks"],
    ["View Center Account","i2EiHp2ULRk"],
    ["Download Center Account Report","FJJCbRxZ3H0"],
    ["Create New Expense & Income in Account","aPkr8hA46Zo"],
    ["Teacher Registration","JX6nmx1n9y4"],
    ["Assign Teacher to Center","QuSA6IJJjGA"],
    ["Create Teacher Payslip","GqB21ghn8ss"],
    ["Edit Teacher Payslip","pzPLDOph0TQ"],
    ["View Teachers Payslip","Hdyd9LWnUB8"],
    ["Apply Leave by Teacher","s_HwkPpwFwo"],
    ["Approve Teacher Leave","d0VnrLopHvI"],
    ["Automation Setting","1hKB0Kwh-mE"],
    ["Student Attendance","b8XV8iMMwiM"]

  ]
  cnt = 1
  tut_hash = {}
  tut_init.each do |k|
    tut_hash[cnt] = k
    cnt += 1
  end

%>


<div class="main-body">
  <div class="d-none" id="div-ifr" style="width:80%;height: 50%;position:fixed;margin-left: 0px">
    <button class="close-modal btn-block btn-secondary" style="text-align: right"></button>
    <iframe class="modal-ifr" style="" width="100%" height="100%" src="" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><br>
  <div class="tute-list">
    <% tut_hash.each do |tutid,detl| %>
      
      <!-- NEXT VIDEO -->
      <button type="button" class="btn btn-success btn-block btn-tute" id="<%= detl[1]%>">    
        <div style="text-align: left"><%= "#{tutid}. #{detl[0]}" %></div>
      </button>
    <% end %>  
  </div>
</div>


<script type="text/javascript" src="/mus_js/tutorial_mus.js"></script>























        
  


