<meta name="viewport" content="width=375">

<% if params[:ic_val] == "1" %>
  <%= link_to "Borang Pengundian", ENV['FORMPTNS'], class: "btn btn-sm btn-info" %>
<% else %>

  <h5>Sila Masukkan No MyKad Anda</h5>

  <%= form_tag check_ptns_path, method: :post, id: "find_kid" do %>
    <%= text_field_tag :sch_str, params[:sch_str], placeholder: "cth: 870829355432" %>
    <%= button_tag(type: :submit, class: "badge badge-success shadow-none", style: "font-size: 14px; border-style: none; font-weight: normal", id: "submit_expense") do %>
              <i class="fa fa-search"></i> Cari
    <% end %>
  <% end %>

<% end %>


</meta>