
<div style="text-align: center; background-color: #4c4cff; font-size: 15px; color: white">
  <%= @kid.name %> LOGBOOKS
</div>
<%= link_to "BACK", tch_std_path(@teacher, taska: @taska.id), class: "badge badge-warning" %>

