
<div class="table-responsive border">
    <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr class="shadow">
          <th style="background-color:#ccccff;font-size:10px">NAME</th>
          <th style="background-color:#ccccff;font-size:10px">TODAY'S UPDATE</th>
          
        </tr>
      </thead>
      <tbody>
        <% @kids.order('name ASC').each do |kd|  %>
          <tr>
            <td style="font-size:10px">
              <%= kd.name %><br>
              <%= link_to "Update",tch_dcov_path(kid: kd.id, tch: @teacher.id, tsk: params[:tsk]), class: "badge badge-pill badge-primary"%>
            </td>
            <td style="font-size:10px;text-align: center;width:20%">
              <%= kd.dcovs.where(created_at: Time.now.beginning_of_day..Time.now.end_of_day).count %>
            </td>
          </tr>  
        <% end %> <!-- END LOOP -->
      </tbody>

    </table>
</div>