<div class="row">

  <div class="col-lg-3" style="background-color:#cce5cc">
    <div class="" style="font-size:15px;background-color:#4ca64c;text-align:center;color:white">
      <b>DAILY HEALTH STATUS</b>
    </div><br>
  </div>

  <div class="col-lg-9" style="background-color:#ccccff">
    <div class="" style="font-size:15px;background-color:#4c4cff;text-align:center;color:white">
      <b>CHILDREN HEALTH DECLARATION FORM</b>
    </div><br>
  </div>



</div>