<tr>
  <td style="font-size: 15px; text-align: left">
    NAMA AKTIVITI</b><br>
  </td>
  <td style="font-size: 15px; text-align: left">
    <b><%= @lgbk.nmaktdk %></b>
  </td>
</tr>
<tr>
  <td style="font-size: 15px; text-align: left">
    REFLEKSI & PELAPORAN</b><br>
  </td>
  <td style="font-size: 15px; text-align: left">
    <b><%= @lgbk.rfpltdk %></b>
  </td>
</tr>
 