<tr>
  <td style="background-color:#d8b2d8; font-size: 15px; text-align: center" colspan="2"><b>Catatan Pusat Jagaan</b></td>
<tr>
  <td>Preverbal skills</td>
  <td><%= "@ste.pre" %></td>
</tr>
<tr>
  <td>Receptive language skills</td>
  <td><%= "@ste.rec" %></td>
</tr>
<tr>
  <td>Expressive language skills</td>
  <td><%= "@ste.expr" %></td>
</tr>  
<tr>
  <td>OVERALL</td>
  <td><%= "@ste.ovc" %></td>
</tr>